body{
    margin: 0;
    box-sizing: border-box;
}
section{
    padding: 0 80px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 80px;
    z-index: 999;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}
 .navbars a{
    text-decoration: none;
    color: black;   
}
.signin a{
    text-decoration: none;
    color: white;
}
.signup a{
    text-decoration: none;
    
}
.navbutton{
    display: flex;
    gap: 13px;
    color: white;
}
.navbars{
    display: flex;
font-size: larger;
    gap: 50px;
    
}
.signup{
    border: 1px solid rgb(150, 107, 190);
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    color: rgb(128, 82, 172);
}
.signin{
     background-color: rgb(128, 82, 172);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 100px;
}
.section1text{
    width: 40%;
}
.section1{
    padding: 0 80px;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.number{
    display: flex;
    font-size: larger;
}
.sectionbutton {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 150px;
    
}
.sectionbutton1{
    padding: 10px 20px;
    border: 1px solid rgb(145, 109, 179);
    color: rgb(146, 107, 182);
    background-color: white;
    border-radius: 10px;
    width: 120px;    
}
.sectionbutton2{
    padding: 10px 20px  ;
    color: white;
    background-color: rgb(146, 91, 197);
    border-radius: 10px;  
    border: none; 
    width: 200px;
    
}
.section1 h1{
    font-size: 50px;
    margin-top: 0;
}
.section1 p{
    font-size: 20px;
  
}
hr{
    height: 60px;
    color: rgb(189, 156, 221);
}
span{
color: rgb(141, 104, 175);
font-size: 30px;
padding-bottom: 70px;
padding-top: 0;
font-weight: bolder;
}
.section2{
    background-color: rgb(230, 220, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    
}
.section2 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    
}
.section2image{
    width: 60%;
    object-fit: cover;
    padding-top: 80px;
    padding-bottom: 30px;
}
.section2 button{
    padding: 15px 20px;
    color: white;
    border: none;
    width: 120px;
    background-color: rgb(201, 162, 235);
    border-radius: 15px;
}
.section2 p{
    font-size: 22px;
}
.section2 h2{
font-size: 30px;
}
.section2 h1{
    font-size: 40px;
}
.section3{
    padding: 40px 80px;
   
}
.section3text{
    text-align: center;
    background-color: rgb(157, 121, 190);
    border: none;
    padding: 20px;
    color: white;
    border-radius: 15px;
}
.section3 button{
    padding: 15px 20px;
    border: none;
    width: 150px;
    border-radius: 15px;
    color: rgb(163, 114, 209);
}
.section3 p{
    font-size: larger;
}
.section3 h1{
    font-size: 36px;
}
.section4{
    padding: 40px 80px;
background-color: rgb(230, 220, 245);
}
.section4 img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.section4content{
    display: flex;
    flex: 1;
    gap: 10px;
    padding-top: 20px;
    justify-content: space-between;
}
.section4text{
    padding: 30px;
    width: 700px;
    border: none;
    background-color: white;
    border-radius: 13px;
}
.section4 button{
    padding: 15px 20px;
    border: none;
    width: 150px;
    border-radius: 15px;
    color: white;
    background-color: rgb(163, 114, 209);
}
.section4 img{
    border-radius: 13px;
}
.section4 p{
    font-size: larger;
}
.section5{
    padding: 40px 80px;
}
.section5content{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.days{
    display: flex;
    gap: 20px;
    padding-top: 100px;
    justify-content: space-between;
}

.contact{
background-color: rgb(230, 220, 245);
padding: 10px 30px;
width: 100%;
box-sizing: border-box;
border-radius: 15px;
border: 1px solid rgb(159, 118, 197);
}
.contact i{
    padding-right: 10px; font-size: larger;
    color: rgb(163, 114, 209);
    
}

.schdays{
background-color: rgb(230, 220, 245); 
padding: 10px 30px;
margin-top: 10px;
width: 100%;
box-sizing: border-box;
border-radius: 15px;
border: 1px solid rgb(159, 118, 197);
}
.form{
   background-color: rgb(230, 220, 245); 
   padding: 20px 30px;
   border-radius: 15px;
   border: 1px solid rgb(159, 118, 197);
}
textarea{
    width: 510px;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 20px;
    border: none;
    margin-bottom: 30px;
    border: 1px solid rgb(159, 118, 197);
    
}
.section5 input{
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    border: 1px solid rgb(159, 118, 197);
}
.section5 button{
    width: 200px;
    border: none;
    color: white;
    background-color: rgb(151, 108, 192);
    border-radius: 13px;
    padding: 20px 40px;

}
footer{
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding-top: 16px;
}
footer h1{
    display: flex;
    justify-content: center;
}

footer p{
    display: flex;
    justify-content: center;
}
.footericon{
    display: flex;
    font-size: larger;
    gap: 15px;

    align-items: center;
    justify-content: center;
}
footer i{
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid;

}

html,  body{
    overflow-x: hidden;
    width: 100%;
}

@media (min-width: 320px) and (max-width:480px){
    *{
    padding: 0;
    margin: 0;
box-sizing: border-box;    
    
} 
.navbars{
    display: none;
}
.nav{
    padding: 0 10px;
}
.signup, .signin{
    padding: 8px;
    width: 80px;

}
.section1{
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}
.section1 h1{
    font-size: 36px;
    padding-bottom: 20px;
}
.section1  p  br{
display: none;
}
.section1 h1 br{
    display: none;
}
.number{
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
}
.number span{
    font-size: larger;
}
.number p {
    font-size: medium;
}
.sectionbutton{
    padding-bottom: 80px;
}
.section1text{
    width: 100%;
}
.section1 img{
    width: 100%;
}
.section2{
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
}
.section2text br{
    display: none;
}
.section4text br{
    display: none;
}
.section2 h1{
    font-size: xx-large;
}
.section2 h2{
    font-size: x-large;
}

.section2 p{
    font-size: medium;
    padding-bottom: 10px;
}
.section2image{
    width: 100%;
    padding-top: 20px;
}
.section3{
    padding: 40px 10px;
}
.section3 p{
    font-size: small;
    padding-bottom: 10px;
}
.section3 h1{
    font-size: 22px;
    padding-bottom: 10px;
}
.section3text{
    padding: 10px;
}
.section3 button{
    padding: 10px 15px;
    border: none;
    width: 100px;
}
.section4{
    padding: 30px 10px;
}
.section4content{
    flex-direction: column;
    width: 100%;
}
.section4 p{
    font-size: large;
    padding-bottom: 10px;
}
.section4text{
    width: 100%;
    padding: 10px;
}
.section4 button{
    padding: 10px 15px;
    width: 100px;
}
.section5content{
    flex-direction: column;   
}
.section5{
    padding: 30px 10px;
}
.form{
    width: 100%;
    padding: 10px;
}
.section5 input{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 12px;
}
textarea{
    width: 100%;
    border-radius: 15px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 30px;    
}
.section5 button{
    width: 150px;
    border-radius: 13px;
    padding: 12px 20px;

}
.contact hr{
    padding-bottom: 20px;
}
.contact p{
    padding-bottom: 12px;
}
.days{
    flex-direction: column;
    padding-top: 20px;
}
footer h1{
    font-size: 25px;
    padding-bottom: 10px;
}
footer i{
    font-size: small;
    border-radius: 50%;
    padding: 3px;
    width: 20px;
}
.footericon{
    gap: 8px;
    padding-bottom: 10px;
    font-size: large;
}
footer p{
    font-size: small;
    padding: 10px;
}
}
@media (min-width: 480px) and (max-width:780px) {
    .navbars{
    display: none;
}
.nav{
    padding: 0 10px;
}
.signup, .signin{
    padding: 8px;
    width: 100px;

}
.section1{
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}
.section1 br{
    display: none;
}
.section1 h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.number{
    width: 80%;
    gap: 10px;
    padding-bottom: 20px;
}
.sectionbutton{
    padding-bottom: 80px;
}
.section1text{
    width: 98%;
}
.section1 img{
    width: 98%;
}
.section2{
    flex-direction: column;
    padding: 20px 5px;
    width: 100%;
}
.section2 p{
    font-size: x-large;
}
.section2text{
    width: 100%;
    padding: 20px 20px;
}
.section2image{
    width: 97%;
    align-items: center;
    padding-top: 20px;
    
}
.section3{
    padding: 40px 10px;
}
  .section2  br{
    display: none;
}
 .section3  br{
    display: none;
}
.section4 br{
    display: none;
}

.section3 p{
    font-size: medium;
    padding-bottom: 10px;
}
.section3 h1{
    font-size: 25px;
    padding-bottom: 10px;
}
.section3text{
    padding: 10px;
}
.section3 button{
    padding: 10px 15px;
    border: none;
    width: 100px;
}
.section4{
    padding: 30px 10px;
}
.section4content{
    flex-direction: column;
    width: 97%;
}
.section4 p{
    font-size: larger;
    padding-bottom: 10px;
}
.section4text{
    width: 100%;
    padding: 10px;
}
.section4 button{
    padding: 10px 15px;
    width: 100px;
}
.section5content{
    flex-direction: column;   
}
.section5{
    padding: 30px 10px;
}
.form{
    width: 97%;
    padding: 10px;
}
.section5 input{
    width: 92%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 25px;
}
textarea{
    width: 96%;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 30px;    
}
.section5 button{
    width: 150px;
    border-radius: 13px;
    padding: 12px 20px;
    margin-bottom: 20px;

}
.contact hr{
    padding-bottom: 20px;
    
}
.contact p{
    padding-bottom: 12px;
    font-size: large;
}
.days{
    flex-direction: column;
    padding-top: 20px;
    font-size: larger;
}
footer h1{
    font-size: 36px;
    padding-bottom: 15px;
}
footer i{
    font-size: large;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
}
.footericon{
    gap: 8px;
    padding-bottom: 10px;
    font-size: large;
}


footer p{
    font-size: medium;
    padding: 10px;
}

}
@media (min-width: 780px) and (max-width:1200px){
   .navbars{
    display: none;
}
.nav{
    padding: 0 20px;
}
.signup, .signin{
    padding: 10px;
    width: 150px;

}
.section1{
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
}
.section1 br{
    display: none;
}
.section1 h1{
    font-size: 55px;
    padding-bottom: 20px;
}
.section1 p{
    font-size: 30px;
    width: 90%;
}
.number{
    width: 60%;
    gap: 10px;
    padding-bottom: 20px;
}
.sectionbutton{
    padding-bottom: 80px;
}
.section1text{
    width: 98%;
}
.section1 img{
    width: 98%;
}
.section2{
    flex-direction: column;
    padding: 20px 5px;
    width: 100%;
}
.section2 p{
    font-size: xx-large;
}
.section2text{
    width: 100%;
    padding: 20px 20px;
}
.section2image{
    width: 97%;
    align-items: center;
    padding-top: 20px;
    
}
.section3{
    padding: 40px 10px;
}
  .section2  br{
    display: none;
}
 .section3  br{
    display: none;
}
.section4 br{
    display: none;
}

.section3 p{
    font-size: medium;
    padding-bottom: 10px;
}
.section3 h1{
    font-size: 25px;
    padding-bottom: 10px;
}
.section3text{
    padding: 10px;
}
.section3 button{
    padding: 10px 15px;
    border: none;
    width: 100px;
}
.section4{
    padding: 30px 10px;
}
.section4content{
    flex-direction: column;
    width: 97%;
}
.section4 p{
    font-size:x-large;
    padding-bottom: 10px;
}
.section4text{
    width: 100%;
    padding: 10px;
}
.section4 button{
    padding: 10px 15px;
    width: 100px;
}
.section5content{
    flex-direction: column;   
}
.section5{
    padding: 30px 10px;
}
.form{
    width: 97%;
    padding: 10px;
}
.section5 input{
    width: 92%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 25px;
}
textarea{
    width: 96%;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 30px;    
}
.section5 button{
    width: 150px;
    border-radius: 13px;
    padding: 12px 20px;
    margin-bottom: 20px;

}
.contact hr{
    padding-bottom: 20px;
    
}
.contact p{
    padding-bottom: 12px;
    font-size: large;
}
.days{
    flex-direction: column;
    padding-top: 20px;
    font-size: x-large;
}
footer h1{
    font-size: 42px;
    padding-bottom: 15px;
}
footer i{
    font-size: larger;
    border-radius: 50%;
    padding: 6px;
    width: 20px;
}
.footericon{
    gap: 8px;
    padding-bottom: 10px;
    font-size: larger;
}


footer p{
    font-size: large;
    padding: 10px;
} 
}